%nav-popout-shared {
    display: block;
    position: relative;
    top: 100%;
    left: 0;
    width: 100vw;
    min-height: 250px;
    height: 400px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    z-index: 1002;
    padding: 40px 0;

    .container {
        display: block;
        position: relative;
        top: 100%;
        left: 0;
        width: 100vw;
        min-height: 250px;
        height: 400px;
        z-index: 1002;
    }
}

// Social icon base styles
%footer-icon {
    color: $white !important;
    font-size: 20px !important;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: $secondary-dark !important;
    padding: 12px 22px 16px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}