@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gpepwb');
  src:  url('../fonts/icomoon.eot?gpepwb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gpepwb') format('truetype'),
    url('../fonts/icomoon.woff?gpepwb') format('woff'),
    url('../fonts/icomoon.svg?gpepwb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e915";
}
.icon-double_arrow:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e902";
}
.icon-mouse:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-security:before {
  content: "\e905";
}
.icon-school:before {
  content: "\e906";
}
.icon-phone_in_talk:before {
  content: "\e907";
}
.icon-paper-plane:before {
  content: "\e900";
}
.icon-send:before {
  content: "\e900";
}
.icon-x:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-codepen:before {
  content: "\e908";
}
.icon-brand:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-brand1:before {
  content: "\e909";
}
.icon-social:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-brand2:before {
  content: "\e90a";
}
.icon-social1:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-brand3:before {
  content: "\e90b";
}
.icon-social2:before {
  content: "\e90b";
}
.icon-embed:before {
  content: "\e90c";
}
.icon-code:before {
  content: "\e90c";
}
.icon-html:before {
  content: "\e90c";
}
.icon-xml:before {
  content: "\e90c";
}
.icon-star-full:before {
  content: "\e90d";
}
.icon-rate:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90d";
}
.icon-favorite:before {
  content: "\e90d";
}
.icon-bookmark:before {
  content: "\e90d";
}
.icon-stats-bars:before {
  content: "\e90e";
}
.icon-stats:before {
  content: "\e90e";
}
.icon-statistics:before {
  content: "\e90e";
}
.icon-chart:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-magnifier:before {
  content: "\e90f";
}
.icon-magnifying-glass:before {
  content: "\e90f";
}
.icon-inspect:before {
  content: "\e90f";
}
.icon-find:before {
  content: "\e90f";
}
.icon-laptop:before {
  content: "\e910";
}
.icon-computer:before {
  content: "\e910";
}
.icon-pc:before {
  content: "\e910";
}
.icon-display:before {
  content: "\e911";
}
.icon-screen:before {
  content: "\e911";
}
.icon-monitor:before {
  content: "\e911";
}
.icon-computer1:before {
  content: "\e911";
}
.icon-desktop:before {
  content: "\e911";
}
.icon-pc1:before {
  content: "\e911";
}
.icon-pencil:before {
  content: "\e912";
}
.icon-write:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e912";
}
.icon-arrow-right:before {
  content: "\e913";
}
.icon-right:before {
  content: "\e913";
}
.icon-next:before {
  content: "\e913";
}
