.breadcrumb {
  background-color: #f4f4f4;
  padding: 10px 0;
  font-size: 14px;
  margin-bottom: 20px;

  a {
    color: $black-dark;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}