// Sidebar Menu Styles
.sidebar-menu {
    position: fixed;
    top: 0;
    right: -300px; // Initially off-screen
    width: 300px;
    height: 100vh;
    background-color: #3D404E;
    color: #fff;
    transition: right 0.3s;
    z-index: 1001; // Ensure it's above other content
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto; // Allow vertical scrolling within the sidebar
}

.sidebar-menu ul {
    // list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-menu ul li {
    margin: 15px 0;
}

.sidebar-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    text-align: left;
}

.sidebar-menu .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

body.sidebar-active {
    margin-left: -300px; // Push content left
    overflow: hidden; // Lock scrolling on the site
    transition: margin-left 0.3s;
}

body.sidebar-active .sidebar-menu {
    right: 0; // Sidebar stays fixed
}

body.sidebar-active .screen-overlay {
    display: block; // Make the overlay visible
}

.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; // Below the sidebar but above other content
    display: none; // Hidden by default
}