.welcome-section {
  width: 100vw;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: $primary-dark;

  .welcome-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 32px 0;
    color: $white;

    @media (min-width: $brk-point-m) {
      grid-template-columns: repeat(2, 1fr);
      gap: 48px;
    }
  }

  .welcome-grid-item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      color: $white;
      font-weight: bold;
      font-size: 36px;
      margin: 0 0 16px 0;
    }

    p {
      margin: 0 0 16px 0;
      line-height: 1.6;

      &.bold {
        font-weight: bold;
      }
    }

    blockquote {
      margin: 16px 0;

      p {
        margin-bottom: 16px;
      }

      cite {
        font-style: italic;
        font-size: 14px;

        .bold {
          font-weight: bold;
        }
      }
    }
  }

  .stars-bar {
    display: flex;
    gap: 4px;

    .icon-star-full {
      @include star($yellow);
    }

    .icon-star-empty {
      @include star(rgba($white, 0.3));
    }
  }

  .welcome-links,
  .review-links {
    @extend %column-gap;
    margin-top: auto;

    @media (min-width: $brk-point-m) {
      flex-direction: row;
    }

    .btn {
      border-radius: 6px;
      padding: 10px 30px;
      font-size: 20px;
      line-height: 35px;
      margin-top: 25px;
      border: none;
      text-transform: uppercase;
      white-space: nowrap;
      width: auto;

      @media (min-width: $brk-point-m) {
        flex: 0 1 auto;
      }

      .icon-arrow-right,
      .fa-arrow-right {
        font-size: 16px;
        padding-left: 4px;
      }
    }

    .btn--primary {
      background-color: #272936;
      color: $white;
      margin-right: 8px;
      
      &:hover {
        background-color: darken(#272936, 10%);
      }
    }

    .btn--google {
      background-color: #4387f6;
      color: $white;
      margin-right: 8px;
      
      &:hover {
        background-color: darken(#4387f6, 10%);
      }
    }

    .btn--trustpilot {
      background-color: #00b67a;
      color: $white;
      
      &:hover {
        background-color: darken(#00b67a, 10%);
      }
    }
  }
}
